.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .timeline h1{
    text-align: center;
    margin: auto ;
    
  }
  .textheading{
    /* left: 47%; */
    display: flex;
    justify-content: center;
  }
  .textheading p{
    font-size: 2rem;
    color: #050505;
  }
  .roadmap_main{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    color: rgb(34, 34, 34);
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  @keyframes movedown {
    0%{
      opacity: 1;
      transform: translateY(-30px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .text-box{
    padding: 20px 30px;
    background: #9f9c9c;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }
  .left-roadmap{
    left: 0;
  }
  .right-roadmap{
    left: 50%;
  }
  .img{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    background: #fff;
    padding: 3px;
  }
  .right-roadmap .img{
    left: -20px;
  }
  
  .timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s forwards;
  }
  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 100%;
    }
  }
  .text-box small{
    display: inline-block;
    margin-bottom: 15px;
  }
  
  .left-roadmap-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
  }
  .right-roadmap-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
  }
  
  .roadmap_main:nth-child(1){
    animation-delay: 0s;
  }
  .roadmap_main:nth-child(2){
    animation-delay: 1s;
  }
  .roadmap_main:nth-child(3){
    animation-delay: 2s;
  }
  .roadmap_main:nth-child(4){
    animation-delay: 3s;
  }
  
  @media screen and (max-width: 600px) {
    .timeline{
      margin: 50px auto;
    }
    .timeline::after{
      left: 31px;
    }
    .roadmap_main{
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box{
      font-size: 13px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .right-roadmap{
      left: 0;
    }
    .img{
      left: 10px;
    }
    .left-roadmap-arrow, .right-roadmap-arrow{
      border-right: 15px solid #fff;
      border-left: 0;
      left: -15px;
    }
  }