.layer{
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
    justify-content: center;
}
.yellow{
    width: 100%;
    background: #ffbf23;
    height: 5vh;
    position: absolute;
    z-index: 1;
}