.cont{
    display: flex;
 /* height: 100vh; */
}
.left{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.right{
    width: 40%;
}
.title h2{
    font-size: 4rem;
    color: gray;
    text-shadow: 2px 3px 1px black;
    line-height:3.8rem;

}
.txt{
    font-size: 15px;
   width: 60%;
 
   

}

.left button{
    border: 1px solid black;
}
.right {
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-body h5, p{
    color: rgb(41, 40, 40);
}


@media (max-width:512px) {
    .cont{
        display: grid;
    }
   .right{
    height: 100%;
    margin: 3rem;
    text-align: center;
    margin: auto;
   }
  
   .left{
    margin: auto;
   }
   .left{
    text-align: center;
}
.txt{
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
}
.left button{
    cursor: none;
    color: white;
    margin: 2rem 0;
}
}