.hero h1{
    font-size: 300px;
    white-space:  nowrap;
    font-weight: 700;
    
    color: rgb(129, 143, 223);
    -webkit-text-stroke: 2px black;
  }
  .hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    /* align-items: center; */

  }