.hero h1{
    font-size: 400px;
    white-space:  nowrap;
    font-weight: 999;
    
  }
  .hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    /* align-items: center; */

  }