*{
  text-decoration: none;
  list-style: none;
}
body {
  color:rgb(249, 247, 247);
 
    background: #1F232E;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-theme{
  background-color: #1F232E;
  color: white;
}
.light-theme{
  background: #b9c0cb;
  color: #000000;
}
.theme-toggle-button{
right: 10px;
top: 15px;
  position: fixed;
  z-index: 10;
}