* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {

    border-bottom: 1px solid black;
    height: 70px;
    text-align: center;
    width: 100%;
    background-color: #4d4d4d42;
    position: relative;
    color: unset;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  .nav-links ul{
    color: white;
  }
  
  .nav > .nav-header {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    float: right;
    margin: auto;
    font-size: 23px;
   
  }
  Link{
    display: inline;
    float: right;
    margin: auto;
    font-size: 23px;
  }
 
  
  .nav > .nav-links > li  {
    list-style: none;
    text-decoration: none;
    color: #efefef;
    
  }
  .nav > .nav-links > a{
    color: rgb(253, 253, 251);
  }
  .nav > .nav-links > a:hover {
    /* background-color: rgba(238, 207, 207, 0.204); */
    transition: .44s  ease-in-out all;
    color: rgb(5, 247, 227);
   
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
    
      display: flex;
      width: 80%;
      text-align: center;
      margin: auto;
      background-color: #ff0505;
      height: 0px;
      transition: all 0.3s ease-in;
    
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
     
    /* position: fixed;
    top: 21%;
    background: black;
    z-index: 14;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px; */
    }





    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
   
  }

