* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {

   
    display: flex;
    justify-content: space-between;
    
  }
  #anchor{
    text-decoration: none;
  }
  svg{
    height: auto;
  }
  /* @media (max-width:720px) {
    .navi{
      position: fixed;
      display: grid;
      font-size: 3rem !important;
      width: 100%;
      background: #1f232f;
      justify-content: center;
      height: 90vh;
      z-index: 10;
      top: 10vh;
    } */
    
  /* } */