* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {

   
    display: flex;
    justify-content: space-between;
    
  }
  svg{
    height: auto;
  }